@import url(https://fonts.googleapis.com/css?family=Satisfy);
body{
    text-align: center;
    background: #00ECB9;
    background-image: url(bg-about.jpg);
    background-size: contain;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  font-family: 'Satisfy', cursive;
  font-size: 130px;
  color: red;
  mix-blend-mode: screen;
  padding: 0;
  margin: 0;
  line-height: 0.5;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}